.multy_currency_title_block {
  margin-top: 100px;
  text-align: center;
}

.multy_currency_title h3 {
  font-weight: 600;
}

.multy_currency_subtitle {
  text-align: center;
  font-weight: 500;
  color: #8f9193;
}

.multy_currency_subtitle a {
  color: rgb(0, 117, 235)!important;
  padding: 0 5px;
}

.multy_currency_subtitle a:hover {
  text-decoration: none;
  color: #0056fb!important;
}

.multi_currency_carusel_preBlock {
  padding: 4rem 1rem;
  width: 100%;
  height: 100%;
}

.multi_currency_carusel_block{
  position: relative;
  width: 100%;
  height: 256px;
  max-width: 90rem;
  margin: 0px auto;
  overflow: hidden;
}

.multi_currency_carusel{
  position: absolute;
}

.slaider_before{
  content: "";
  position: absolute;
  left: -1px;
  top: 0px;
  bottom: 0px;
  width: 10rem;
  z-index: 1;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0px, rgba(255, 255, 255, 0) 100%);
}

#multi_currency_carusel_one_position, #multi_currency_carusel_two_position{
  position: absolute;
  display: flex;
  transition: all ease 1s;
  height: 50px;
}

#multi_currency_carusel_two_position{
top: 80px;
}


.multi_currency_carusel_icon {
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 1.5rem;
  margin-right: 2rem;
  border-radius: 1.5rem;
}





