.presentation_block {
  margin-top: 200px;
}

.presentation_left_block {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.presentation_left_block_title h1 {
  font-weight: 600;
  font-size: 3rem;
}

.presentation_left_block_btn {
  padding: 32px 20px;
}

.presentation_left_block_subtitle {
  color: rgb(139, 149, 158);
  font-size: 1.10rem;
  line-height: 1.9rem;
}

.presentation_right_block {
  z-index: 2;
}

.video_center {
  margin: 10px 0 90px 0;
  height: 515px;
  display: flex !important;
  justify-content: center;
  padding: 50px 0;
}

.presentation_right_block_video video {
  max-width: 515px;
  float: right;
}

@media (max-width: 576px) {
  .presentation_left_block_title h1 {
    font-size: 2rem;
  }

  .presentation_right_block_video video {
    max-width: 100%;
  }

  .presentation_left_block_subtitle {
    font-size: 16px;
  }

  .multy_currency_subtitle {
    font-size: 15px;
  }


}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
  .presentation_left_block_title {
    text-align: center;
  }

  .in_presentation_left_block {
    max-width: 414px;
  }


  .presentation_left_block_btn {
    text-align: center;
  }
}

@media (min-width: 1200px) {
}
