.explore_features_title{
  display: flex;
  justify-content: center;
  margin: 150px 0;
}

.explore_features_title h3{
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: auto;
}

.explore_features_block_icon_pink{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(226, 78, 139);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_icon_gray{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(106, 140, 173);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_icon_orange{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 166, 35);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_title h4{
  margin: 1.5rem 0px 0px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.explore_features_block_content{
  color: rgb(139, 149, 158);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0.5rem 0px 0px;
}




