.presentation_left_block {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.presentation_left_block_btn {
  padding: 32px 20px;
}

.presentation_right_block {
  z-index: 2;
}

.video_center {
  margin: 10px 0 90px 0;
  height: 515px;
  display: flex !important;
  justify-content: center;
  padding: 50px 0;
}

.presentation_right_block_video video {
  max-width: 515px;
  float: right;
}

@media (max-width: 1200px) {
  .presentation_right_block_video video {
    max-width: 434px;
  }
}

@media (max-width: 992px) {
  .presentation_right_block_video video {
    max-width: 424px;
    height: 424px;
    object-fit: contain;
  }

  .presentation_left_block_btn {
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 576px) {
  .presentation_left_block_title h1 {
    font-size: 2rem;
  }

  .presentation_right_block_video video {
    max-width: 100%;
  }
}
