.security_control_block{
  margin-top: 150px;
}

.security_control_list_block{
  margin-right: 145px;
}

.security_control_left{
  position: relative;
  right: 25px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.security_control_bckgrnd{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 485px;
  box-shadow: rgba(25, 28, 31, 0.08) 0px 14px 32px, rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  border-radius: 50%;
  max-width: 405px;
  max-height: 405px;
}




@media (max-width: 995px) {
  .security_control{
    display: flex;
    justify-content: center;
  }

  .security_control_block{
    max-width: 474px;
  }

  .security_control_left{
    height: auto;
  }

  .security_control_list_block{
    margin-top: 50px;
    margin-right: 0;
  }

  .expense_management_left {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .persional_security_list_block {
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .security_control_left {
    right: 0;
  }

  .security_control_bckgrnd {
    height: 280px;
  }
}
