@media (max-width: 995px) {
  .block_name {
    font-size: 27px;
  }
}

@media (max-width: 576px) {
  .block_name {
    font-size: 18px;
  }

  .clause_match_block_left_block h3 {
    font-size: 1.2rem;
  }

  .clause_match_left_block_text {
    font-size: 14px;
  }

  .clause_match_left_block_author {
    font-size: 16px;
  }
}
