*{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1376px;
  margin: auto;
}

a{
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:not([href]) {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

button{
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
  outline: inherit;
}

button:not(:disabled) {
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
  outline: inherit;
}

input{
  outline: transparent;
}

/*button*/
.my_btn{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
  box-sizing: border-box;
}
/*button*/

.topThreeBlocks{
  background-color: #f5f6f8;
}

/*****header*******/

.header_btn, .presentation_btn{
  background-color: #0056fb;
  border-radius: 9px;
  color: white!important;
  margin-left: -20px;
  border: 2px solid #0056fb;
  padding: 12px;
  height: 45px;
  width: 125px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

/*****header*******/


@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
