.other_features_title{
  margin-top: 150px;
  text-align: center;
}

.other_features_title h2{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 50px;
}

.other_end{
  justify-content: flex-end;
  width: 100%;
  display: flex;
}


@media (max-width: 995px) {
  .other_end, .other_start{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .other_features_title h2{
    font-size: 1.6rem;
  }
}
