.explore_features_block{
  box-sizing: border-box;
  color: rgb(25, 28, 31);
  background-color: rgb(255, 255, 255);
  height: 230px;
  box-shadow: rgba(25, 28, 31, 0.05) 0px 0.05rem 0.14rem 0px, rgba(25, 28, 31, 0.05) 0px 0.2rem 0.4rem 0px, rgba(25, 28, 31, 0.04) 0px -1px 0px 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0px;
  padding: 2rem;
  border-radius: 6px;
  transition: 0.4s;
}

.explore_features_block:hover{
  box-shadow: rgba(25, 28, 31, 0.08) 0px 14px 32px, rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  transform: translate3d(0px, -10px, 0px);
  cursor: pointer;
}

.explore_features_title{
  display: flex;
  justify-content: center;
  margin: 150px 0;
}

.explore_features_title h3{
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: auto;
}

.explore_features_block_icon_pink{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(226, 78, 139);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_icon_gray{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(106, 140, 173);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_icon_orange{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 166, 35);
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border-radius: 9999px;
}

.explore_features_block_title h4{
  margin: 1.5rem 0px 0px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.explore_features_block_content{
  color: rgb(139, 149, 158);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0.5rem 0px 0px;
}



@media (max-width: 995px) {
  .explore_features_position{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
